
{% extends 'home/base.html' %}
{% block body %}
    <div>
        <button class="btn"><a href="/appointment/">Back</a></button>
        <h1>Details</h1>
    </div>
    <div class="container jumbotron">
        <p>{{ entry.creator }}</p>
        <p>{{ entry.reason }}</p>
        <p>{{ entry.date }}</p>
        <p>{{ entry.description|truncatechars:100 }}</p>
        <p>{{ entry.confirmed }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Confirm</button>
        </form>
    </div>
{% endblock %}