{%extends 'home/base.html'%}
{% block title %}Register{%endblock%}
<!--{% block albums_active %}active{%endblock%}-->

{%block body%}
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-12 col-mid-7">
                <div class="panel panel-default">
                    <div class = "panel-body">
                        <h3>Create a new account</h3>
                        {% if error_messege%}
                            <p><strong>{{ error_messege }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'home/form-template.html'%}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}
